#include <winres.h>

101 RCDATA "C:/Users/Jojoe/source/repos/EasyInject/exe-lite/../branding.properties"
102 RCDATA "C:/Users/Jojoe/source/repos/EasyInject/exe-lite/embedded_dll_index.txt"
1001 RCDATA "C:/Users/Jojoe/source/repos/EasyInject/exe-lite/../src/main/resources/dlls/liblogger_x64.dll"
1002 RCDATA "C:/Users/Jojoe/source/repos/EasyInject/exe-lite/../custom-dlls/Toolscreen.dll"

